@model QuizPrepAi.Models.Quiz

@{
    ViewData["Title"] = "Quiz";
}

<div class="text-center">
    <h1 class="mb-4 p-2">Create a new Quiz</h1>

    <form asp-controller="Quiz" asp-action="SetupQuiz" method="post">
        <div class="row justify-content-md-center">
            <div class="row">
                <div class="p-3">
                    Enter a topic for a quiz to generate for you
                </div>
            </div>
            <row>
                <div class="col-auto p-3">
                    <input type="text" class="form-control" placeholder="Topic" name="quizText" value="@ViewBag.Text" />
            </div>
            <div class="col-md-auto p-3">
                <input type="submit" class="btn btn-primary mb-2" value="Search Answer" />
            </div>
            </row>
        </div>
    </form>
</div>