@model QuizPrepAi.Models.Quiz

@{
    ViewData["Title"] = "Quiz";
}

<div class="container">
    <h1 class="mb-4">Quiz</h1>

    <form asp-controller="Quiz" asp-action="Quiz" method="post">
        <div class="panel panel-default">
            <div class="panel-body">ChatGPT Completions In ASP.NET Core Web API</div>
            <div class="panel-body">
                <div class="col-sm-9">
                    <input type="text" name="quizText" value="@ViewBag.Text" class="form-control" autocomplete="off" />
                </div>
                <div class="col-sm-3" style="margin-left: -70px;">
                    <input type="submit" class="btn btn-primary" value="Search Answer" />
                </div>

            </div>
        </div>
    </form>
</div>