
   @{
       ViewData["Title"] = "Quiz Topic Selection";
    string topic = null;
}

<h1>Quiz Topic Selection</h1>

<form asp-controller="Quiz" asp-action="Index">
    <div class="form-group">
        <label for="topic">Select a quiz topic:</label>
        <select asp-for="@topic" name="topic" class="form-control">
            <option value="math">SAT Test</option>
            <option value="science">LSAT</option>
            <option value="history">MCAT</option>
            <option value="english">BAR</option>
        </select>
    </div>
    <button type="submit" value="Index" class="btn btn-primary">Start Quiz</button>
</form>
